<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <urlMappings enabled="true">
      <add url="~/pgp.asc" mappedUrl="~/96B2EB202D565834E1A0CED417A4F903DFD11EDA.asc"/>
    </urlMappings>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css"/>
      <mimeMap fileExtension=".asc" mimeType="application/pgp"/>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
  <location path="resume">
    <system.webServer>
      <httpRedirect enabled="true" destination="Michael West.pdf" httpResponseStatus="Found"/>
    </system.webServer>
  </location>
  <location path="MichaelWest">
    <system.webServer>
      <httpRedirect enabled="true" destination="Michael West.pdf" httpResponseStatus="Found"/>
    </system.webServer>
  </location>
  <location path="resumeword">
    <system.webServer>
      <httpRedirect enabled="true" destination="Michael West.docx" httpResponseStatus="Found"/>
    </system.webServer>
  </location>
  <location path="twitter">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://twitter.com/t3hub3rk1tten" httpResponseStatus="Found"/>
    </system.webServer>
  </location>
  <location path="facebook">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://www.facebook.com/profile.php?id=1349426980" httpResponseStatus="Found"/>
    </system.webServer>
  </location>
  <location path="linkedin">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://www.linkedin.com/pub/michael-west/96/73a/335/" httpResponseStatus="Found"/>
    </system.webServer>
  </location>
  <location path="github">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://github.com/T3hUb3rK1tten" httpResponseStatus="Found"/>
    </system.webServer>
  </location>
  <location path="tumblr">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://t3hub3rk1tten.tumblr.com/" httpResponseStatus="Found"/>
    </system.webServer>
  </location>
  <location path="spotify">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://play.spotify.com/user/t3hub3rk1tten" httpResponseStatus="Found"/>
    </system.webServer>
  </location>
  <location path="cash">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://cash.me/mwest" httpResponseStatus="Found"/>
    </system.webServer>
  </location>
  <location path="steam">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://steamcommunity.com/id/T3hUb3rK1tten" httpResponseStatus="Found"/>
    </system.webServer>
  </location>
  <location path="googleplus">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://plus.google.com/117407372494793948734/posts" httpResponseStatus="Found"/>
    </system.webServer>
  </location>
</configuration>
