<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <urlMappings enabled="true">
      <add url="~/pgp.asc" mappedUrl="~/96B2EB202D565834E1A0CED417A4F903DFD11EDA.asc"/>
    </urlMappings>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css"/>
      <mimeMap fileExtension=".asc" mimeType="application/pgp"/>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
</configuration>